extends layout

block content

  br
  p #[strong Name]: #{other.name}
  p #[strong Category]: #{other.category}
  p #[strong Description]: #{other.description}
  p #[strong Victim]: #{other.victim}
  p #[strong Real or Theory]: #{other.realOrTheory}
  p #[strong BlockChain Technology]: #{other.blockChainTech}
  p #[strong Source]: #[a(href=other.URL) #{other.source}]
