extends layout

block content

  br
  p #[strong Name]: #{scamming.name}
  p #[strong Category]: #{scamming.category}
  p #[strong Description]: #{scamming.description}
  p #[strong URL]: #[a(href=scamming.URL) #{scamming.URL}]
  p #[strong BlockChain Technology]: #{scamming.blockChainTech}
  p #[strong Source]: #[a(href=scamming.source) #{scamming.source}]
